nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
    
    .links {
      display: flex;
      gap: 15px;
      font-weight: bold;
    }

  }